<% include ../header %>
<div class="container">
  
    <% if(messages.notification){ %>
    <div class="alert alert-danger" id="placeholderWarning" role="alert">
      <p class="nameAlert"><span><%= messages.notification %>&nbsp;</span><a href="#" class="close nameAlert" data-dismiss="alert" data-hide="alert">&times;</a></p>
    </div>
  <% } %>

  <form method="post" action="/editaccount">
    <label for="email">Email:</label>
    <input type="email" name="eUser[email]" value="<%= session.user.email %>" placeholder="Email" class="form-control" required><br>

    <label for="firstName">First Name:</label>
    <input type="text" name="eUser[firstName]" value="<%= session.user.firstName %>" placeholder="FirstName" class="form-control" required><br>

    <label for="lastName">Last Name:</label>
    <input type="text" name="eUser[lastName]" value="<%= session.user.lastName %>" placeholder="LastName" class="form-control" required><br>

    <label for="username">Username:</label>
    <input type="text" name="eUser[username]" value="<%= session.user.username %>" placeholder="Username" class="form-control" required><br>

    <label for="password">Password:</label>
    <input type="password" name="eUser[password]" value="" placeholder="Password" class="form-control" required><br>

    <input class="btn btn-primary" class="form-control" type="submit" value="Update"><br><br>
  </form>
</div>
<% include ../footer %>