<% include ../header %>

<table class="table table-striped table-hover">
  <thead>
    <tr>
      <th>Club Name</th>
      <th>Club Description</th>
      <th>Status</th>
    </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < clubs.length; i++) {%>
      <tr>
          <td>
            <a href="clubpage/<%=clubs[i]["id"]%>"><%= clubs[i]["clubname"] %></a>
          </td>
          <td>
            <%= clubs[i]["description"] %>
          </td>
          <td>
            <% if (user["clubs_member"].indexOf(clubs[i]["id"]) > -1){ %>
              <form method="post" action="/leaveclub/<%= clubs[i]["id"] %>">
                <label id="clubmember">Club Member&nbsp;</label>
                <input class="btn btn-primary" class="form-control" type="submit" value="Leave Club">
              </form>
            <% } else if (user["clubs_leader"].indexOf(clubs[i]["id"]) > -1){ %>
              <p>Club Leader</p>
            <% } else { %>
              <form method="post" action="/joinclub/<%= clubs[i]["id"] %>">
                <input class="btn btn-primary" class="form-control" type="submit" value="Join">
              </form>
            <% } %>
          </td>
      </tr>
    <% } %>
  </tbody>
</table>

<% include ../footer %>