<% include ../header %>
  <% if(messages.notification){ %>
    <div class="alert alert-success" id="placeholderSuccess" role="alert">
      <p class="nameAlert"><span><%= messages.notification %>&nbsp;</span><a href="#" class="close nameAlert" data-dismiss="alert" data-hide="alert">&times;</a></p>
    </div>
  <% } %>
  
  <p><strong>Description: </strong><%= club["description"] %></p>
  <p><strong>Advisor: </strong><%= club["Advisor"] %></p>
  <p><strong>Leaders: </strong>
    <% for(i = 0; i < club["leaders"].length; i++) {%>
      <% if (i != (club["leaders"].length - 1)) {%>
        <%=club["leaders"][i]%>,
      <%} else {%>
        <%=club["leaders"][i]%>
      <%}%>
    <%}%>
    </p>
  <form method="post" action="/uploadform/<%= club["id"] %>">
    <input class="button btn btn-success" class="form-control" type="filepicker" data-fp-apikey="Ax5haFujiQXm6yABGRnBtz" id="formupload" name="formupload[formurl]" placeholder="Form"onchange='$("#formupload").val(event.fpfile.url);console.log($("#formupload").val());this.form.submit();'>
    <a href="/roster/<%= club["id"] %>" id="roster" class="btn btn-primary rosterbtn" role="button">View Roster</a>
    <% if (session.user.userType == "admin") { %>
      <a href="/files/<%= club["id"] %>" id="roster" class="btn btn-primary rosterbtn" role="button">View Uploaded Files</a>
    <% } %>
  </form>

<table class="table table-striped table-hover">
<thead>
  <tr>
    <th>Event</th>
    <th>Description</th>
    <th>Author</th>
    <th>Location</th>
    <th>Date</th>
    <th></th>
  </tr>
</thead>
<tbody>
  <% for(var i = 0; i < club["events"].length; i++) {%>
    <tr>
        <td>
          <%= club["events"][i]["name"] %>
        </td>
        <td>
          <%= club["events"][i]["description"] %>
        </td>
        <td>
          <%= club["events"][i]["authorID"] %>
        </td>
        <td>
          <%= club["events"][i]["location"] %>
        </td>
         <td>
          <%= club["events"][i]["time"] %>
        </td>
        <%if(isLeader) {%>
        <td><a href="/editevent/<%=club["id"]%>/<%=club["events"][i]["id"]%>">Edit</a></td>
        <%}%>
</td>
    </tr>
  <% } %>
</tbody>
</table>
<%if(isLeader) {%>
  <p><a href="/newevent/<%=club["id"]%>">Add New Event</a></p>
<%}%>
<table class="table table-striped table-hover">
  <thead>
  <tr>
    <th>Announcement</th>
    <th>Description</th>
    <th>Author</th>
    <th>Last Updated</th>
  </tr>
  </thead>
  <tbody>
    <% for(var i = 0; i < club["announcements"].length; i++) {%>
      <tr>
          <td>
            <%= club["announcements"][i]["name"] %>
          </td>
          <td>
            <%= club["announcements"][i]["description"] %>
          </td>
          <td>
            <%= club["announcements"][i]["authorID"] %>
          </td>
           <td>
            <%= club["announcements"][i]["postDate"] %>
          </td>
          <%if(isLeader) {%>
          <td><a href="/editannouncement/<%=club["id"]%>/<%=club["announcements"][i]["id"]%>">Edit</a></td>
          <%}%>
      </tr>
    <% } %>
  </tbody>
  </table>
<%if(isLeader) {%>
  <p><a href="/newannouncement/<%=club["id"]%>">Add New Announcement</a></p>
<%}%>
</div>
</div>
<script src="/static/js/jquery-2.1.4.min.js"></script>
<script src="/static/js/bootstrap.min.js"></script>
<script type="text/javascript" src="//api.filestackapi.com/filestack.js"></script>
</body>
</html>