<% include ../header %>

<% if((session.user.clubs_leader.length > 0) || (session.user.clubs_member.length > 0)){ %>

  <p>View all available clubs <a href="/allclubs">here</a>.</p>
  <p>You are participating in the following clubs:</p>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Club Name</th>
        <th>Club Description</th>
        <th>Status</th>
      </tr>
    </thead>
    <tbody>

      <% if(session.user.clubs_leader.length > 0){ %>
        <% for(var i = 0; i < clubs.length; i++) {%>
          <% if(session.user.clubs_leader.indexOf(clubs[i]["id"]) > -1){ %>
            <tr>
              <td><a href="clubpage/<%=clubs[i]["id"]%>"><%= clubs[i]["clubname"] %></a></td>
              <td><%= clubs[i]["description"] %></td>
              <td>Club Leader</td>
            </tr>
          <% } %>
        <% } %>
      <% } %>

      <% if(session.user.clubs_member.length > 0){ %>
        <% for(var j = 0; j < clubs.length; j++) {%>
          <% if(session.user.clubs_member.indexOf(clubs[j]["id"]) > -1){ %>
            <tr>
              <td><a href="clubpage/<%=clubs[j]["id"]%>"><%= clubs[j]["clubname"] %></a></td>
              <td><%= clubs[j]["description"] %></td>
              <td>
                <form method="post" action="/leaveclub/<%= clubs[j]["id"] %>">
                  <label class="clubmember">Club Member&nbsp;</label>
                  <input class="btn btn-primary" class="form-control" type="submit" value="Leave Club">
                </form>
              </td>
            </tr>
          <% } %>
        <% } %>
      <% } %>

    </tbody>
  </table>

<% } else { %>
  <p>You are not currently a member of any clubs! Check out all Trinity clubs <a href="/allclubs">here</a>.</p>
<% } %>

<% include ../footer %>