<% include ../header %>

  <% if(messages.notification){ %>
    <% if(messages.notification == "Club Name already taken."){ %>
      <div class="alert alert-danger" id="placeholderWarning" role="alert">
        <p class="nameAlert"><span><%= messages.notification %>&nbsp;</span><a href="#" class="close nameAlert" data-dismiss="alert" data-hide="alert">&times;</a></p>
      </div>
    <% } else {%>
      <div class="alert alert-success" id="placeholderSuccess" role="alert">
        <p class="nameAlert"><span><%= messages.notification %>&nbsp;</span><a href="#" class="close nameAlert" data-dismiss="alert" data-hide="alert">&times;</a></p>
      </div>
    <% } %>
  <% } %>

<form method="post" action="/editclub/<%= club["id"] %> ">
  <label for="clubName">Club Name:</label>
  <input type="text" name="club[clubname]" value="<%= club["clubname"] %>" placeholder="Club Name" class="form-control" required><br>

  <label for="clubDescription">Club description:</label>
  <input type="text" name="club[description]" value="<%= club["description"] %>" placeholder="Description" class="form-control" required><br>

  <label for="clubLeaders">Club Leaders:</label>
  <br><br>
  <% for(var i = 0; i < users.length; i++) {%>
    <% if (club["leaders"].indexOf(users[i]["id"]) > -1) { %>
      <input type="checkbox" class="ccheckbox" name="club[leaders]" value="<%= users[i]["id"] %>" checked><%= users[i]["firstName"] %> <%= users[i]["lastName"] %> (<%= users[i]["username"] %>)<br>
    <% } else { %>
      <input type="checkbox" class="ccheckbox" name="club[leaders]" value="<%= users[i]["id"] %>"><%= users[i]["firstName"] %> <%= users[i]["lastName"] %> (<%= users[i]["username"] %>)<br>
    <% } %>
  <% } %>
  <br>

  <input class="btn btn-primary" class="form-control" type="submit" value="Edit Club"><br><br>
</form>
  
<% include ../footer %>